@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@theme {
  --color-primary: #61A253;
  --color-outline: #DEE1E6;
  --color-error: #DB6468;
  
  --color-tag-low: #A4C400;
  --color-tag-healthy: #4CAF50;
  --color-tag-mid: #F4B400;
  --color-tag-severe: #D32F2F;
  --color-tag-local: #E4F09C;
  --color-tag-remote: #9CF0E6;
  
  --color-state-selected: #61A253;
  --color-state-idle: #171A1F;
  --color-state-disabled: #ACB3AA;
  
  --color-confidence-mid: #E6E670;
  --color-confidence-high: #8CE670;
  --color-confidence-low: #E67072;
  
  --color-switch-off: #80B488;
  --color-switch-on: #05BC21;
  
  --font-family-base: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-family-base);
  }
}
